

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: white;
}
.bg-light {
    background-color: transparent!important;
}

.top-portion {
    background-image: url(img/bg-10.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 900px;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: white;
}

.nav-link {
    color: aliceblue!important;
    padding-right: 1.5rem!important;
}



.navbar-light .navbar-nav .nav-link:hover{
    color: white!important;
}

.jumbotron {
    background-color: transparent;
    color: white;
    margin-top: 3rem;
}
.jumbotron p {
    margin-top: -10px;
    margin-bottom: 1rem;
    padding-top: 5px;
}
.display-3 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}


.btn-outline-info {
    color: #f2f8f9;
    background-color: transparent;
    background-image: none;
    border-color: #79A575;
}

.middle-portion {
    min-height: 400px;
}

.question-table {
    margin-top:2rem;
}